.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: skyblue;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 100vh;
  border: 3px solid skyblue;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}
